.homesub{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
}
.homesub-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homesub-img img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.homesub-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}
.homesub-content h1{
    font-size: 40px;
    color: #09232b;
    margin-bottom: 20px;
    text-align: left;
}
.homesub-content p{
    font-size: 20px;
    color: #09232b;
    margin-bottom: 20px;
    text-align: justify;
}
.divaider{
    width: 3px;
    height: 500px;
    background: #09232b;
    margin-bottom: 20px;
    margin-top: 30px;
    position: relative;
}
